@media screen and (max-width: 950px) {
    nav {
        background: #062a75;
        height: 80px;
        padding: 0;
    }
    
    .nav-logo {
        display: none;
    }

    .navbar {
        justify-content: center;
        margin: 0;
    }

    ul li a {
        color: white;
        font-size: 15px;
        margin: 10px;
    }

    #about {
        margin-left: 5px;
    }

    a:hover{
        border-bottom: 3px solid white;
    }

    header {
        display: block;
        text-align: center;
    }

    .texts {
        margin: 0;
        padding: 12px;
        margin: 5%;
    }

    h1 {
        font-size: 70px;
    }

    .cat-image {
        margin: 0;
        height: 80%;
        padding-top: 20px;
    }

    .cat-image img {
        width: 90%;
        height: min-content;
    }



}